audio {
    width: 100%;
}

.audio-player {
    min-height: 25px;
    margin-top: 8px;
}

.track-info {
    display: flex;
    margin: 5px 0;
    align-items: center;
}

.pad {
    padding: 0 10px;
    max-height: 24px;
}

.album-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.divider {
    border-left: 2px solid #fff;
    height: 30px;
}

.fa-backward,
.fa-forward {
    color: #fff;
}
.fa-backward:hover,
.fa-forward:hover {
    color: #515254;
    cursor: pointer;
}
